<div class="footer " style="background-color:rgb(216, 213, 213);" >
    <div class="one container"> <footer>
    <h6 class=" new container" ><a href="#">footer@gmail.com</a></h6>
    <div class=" new1 container text-muted"  >...copyright content...</div>
    <div class=" new1 container text-muted"  >2020-2021 </div>
    <div class=" new1 container text-muted"  >
        <a>About</a>&nbsp;&nbsp;&nbsp;
         <a>home</a>&nbsp;&nbsp;&nbsp;
         <a>contact</a>&nbsp;&nbsp;&nbsp;
         <a>logout</a>&nbsp;&nbsp;&nbsp;
        </div>
    </footer>
        </div>

    </div>
