<div class="right" style="background-color: rgb(197, 197, 197);">
   
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Certificates</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>HTML</td>
       
      </tr>
      <tr>
       
        <td>CSS</td>
        
      </tr>
      <tr>
      
        <td>JAVASCRIPT</td>
      </tr>
      <tr>
      
        <td>BOOTSTRAP</td>
      </tr>
      <tr>
      
        <td>Django</td>
      </tr>
      <tr>
      
        <td>FLASK</td>
      </tr>
    </tbody>
  </table>
  
  
  
   
  </div>
