
    
      <div class="left" style="background-color: rgb(197, 197, 197);">
        <ul type="circle" class="list"><br>
          <li><a class="btn btn-light btn-sm btn-block " routerLink="formating">Formating String </a></li><br>
          <li><a class="btn btn-light btn-sm btn-block"  routerLink="formatingnum"> Formatings pip use</a></li><br>
          <li><a class="btn btn-light btn-sm btn-block" href="#"> add </a></li><br>
          <li><a class="btn btn-light btn-sm btn-block" href="#">submit</a></li><br>
          <li><a class="btn btn-light btn-sm btn-block" href="#">view students</a></li><br>
          <li><a class="btn btn-light btn-sm btn-block"  href="#">apps</a></li><br>
          <li><a class="btn btn-light btn-sm btn-block" href="#"> create account</a></li><br>
          <li><a class="btn btn-light btn-sm btn-block"  href="#">about</a></li><br>
       
        </ul>
      </div>