

  
   
      <nav class="navbar   navbar-expand-sm bg-warning " >

        <ul class="nav navbar-nav   container">
          <li><a class=" li navbar-brand " routerLink="home1">HOME </a></li>
         
          <li><a class="li  navbar-brand" routerLink="contact">Contact</a></li>
          <li><a class="li  navbar-brand" routerLink="list">List</a></li>
          <li><a class="li  navbar-brand" routerLink="table">Table</a></li>
          <li><a class="li  navbar-brand" routerLink="switch">Switch </a></li>
          <li><a class="li  navbar-brand" routerLink="input">Input </a></li>
          <li><a class="li  navbar-brand" routerLink="output">Output </a></li>
          <li><a class="li  navbar-brand" routerLink="twoway">2-way binding </a></li>
          <li><a class="li  navbar-brand" routerLink="form">Form </a></li>
          <li><a class="li  navbar-brand" routerLink="user">User </a></li>
          <li><a class="li  navbar-brand" routerLink="registeruser">Register_User </a></li>
          <li><a class="li  navbar-brand" routerLink="about">About </a></li>
          <li><a class="li  navbar-brand" routerLink="login">Login </a></li>


      

        </ul>
    
    </nav>
    
  

